body {
    background-color: rgb(74, 78, 82);
    display:flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.boxy {
    display: flex;
    flex-direction: column;
    background-color: rgb(86, 91, 95);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.4);
    margin: 2em;
    padding: 1em;
}

h1 {
    align-self: center;
    color: white;
}

h3 {
    color: white;
    align-self: center;
}

.longformtextbox, .textOutput {
    background-color: white;
    padding: 1em;
    margin: .4em;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btnbtn {
    align-self: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 1em;
}

.btnbtn:hover {
    background-color: #45a049;
}

a {
    color: white;
    text-decoration: none;
    align-self: center;
}

.analysis-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.freq-image {
    max-width: 50%;
    height: auto;
    border: 1px solid white;
    margin-left: 1em;
}
